@tailwind base;
@tailwind components;
@tailwind utilities;

/* Oculta la barra de scroll manteniendo el desplazamiento */
@layer utilities {
  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}
